<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>OrderFood</title>
    <link rel="stylesheet" href="/views/style.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div id="app"></div>

    <script src="/scripts/core/Store.js"></script>
    <script src="/scripts/core/Component.js"></script>
    <script src="/scripts/ui-render.js"></script>

    <script src="/views/components/Navbar.js"></script>
    <script src="/views/AuthPage.js"></script>
    <script src="/views/SellerDashboard.js"></script>
    <script src="/views/HistoryPage.js"></script>
    <script src="/views/CheckoutPage.js"></script>
    <script src="/views/HomePage.js"></script>

    <script src="/scripts/main.js"></script>
</body>
</html>